# <span style = "text-decoration : underline ;" >Lists</span>

## Lists in python, are used to store the sequence of different data types


## Characteristics of a Python List :
### Ordered: Lists maintain the order in which the data is inserted.
### Mutable: In list element(s) are changeable. It means that we can modify the items stored within the list.
### Heterogenous: Lists can store elements of various data types.
### Dynamic: List can expand or shrink automatically to accommodate the items accordingly.
### Duplicate Elements: Lists allow us to store duplicate data.

In [1]:
integer_list = [1, 2, -3, 4, 2]

"""
indexing in python - indices refers to the position or location of elements within a data structure, 
and are used to access individual elements! There can be negative indices too.

 0  1   2  3  4  - forward indexing
[1, 2, -3, 4, 2]
-5 -4  -3 -2 -1  - reverse indexing

"""

'\nindexing in python - indices refers to the position or location of elements within a data structure, \nand are used to access individual elements! There can be negative indices too.\n\n 0  1   2  3  4  - forward indexing\n[1, 2, -3, 4, 2]\n-5 -4  -3 -2 -1  - reverse indexing\n\n'

In [2]:
print(integer_list)

[1, 2, -3, 4, 2]

In [3]:
l = [1, 2.08, 'Nairobi', 22+6j, ['A', 'Nested', 'list'], ('A tuple too', 28.0, 25)]
l

[1,
 2.08,
 'Nairobi',
 (22+6j),
 ['A', 'Nested', 'list'],
 ('A tuple too', 28.0, 25)]

In [4]:
''' indexing
     0    1       2       3              4                           5
l = [1, 2.08, 'Karthik', 22+6j, ['A', 'Nested', 'list'], ('A tuple too', 28.0, 25)]
    -6   -5      -4      -3             -2                          -1'''

" indexing\n     0    1       2       3              4                           5\nl = [1, 2.08, 'Karthik', 22+6j, ['A', 'Nested', 'list'], ('A tuple too', 28.0, 25)]\n    -6   -5      -4      -3             -2                          -1"

## Accessing elements in a list using <span style = "text-decoration : underline ;" >indices</span>

In [7]:
l[2]

'Karthik'

In [8]:
l[4]

['A', 'Nested', 'list']

In [16]:
l[4][1] #Use of multiple indices to navigate through the levels of nesting

'Nested'

In [5]:
# "l[4]" denotes the element at 4th index of the list "l" while "l[4][1]" refers to the 2nd element(0th index) of the 5th element(index 4) of the list "l"

In [6]:
l[-1]

('A tuple too', 28.0, 25)

In [7]:
l[-1][1]

28.0

In [8]:
l[-5]

2.08

In [9]:
l[-1]

('A tuple too', 28.0, 25)

In [4]:
l[-6]

1

In [5]:
l[4]

['A', 'Nested', 'list']

In [6]:
l[0]

1

In [10]:
l[78]

IndexError: list index out of range

### Trying to access an element in a sequence (like list) using an index that is not within the valid range for that sequence generates 'list index out of range' error.

## <span style = "text-decoration : underline ;" >List Slicing</span>

### Slicing in python allows you to extract a portion of the list by specifying the start index and an end index.

In [22]:
"""Syntax is as follows : 

list[start : end : step-size]

NOTE : 
1. element at the start index is included
2. element at the stop index is excluded
3. step-size is an optional argument, which is a positive 1 by default"""

'Syntax is as follows : \n\nlist[start : end : step-size]\n\nNOTE : \n1. element at the start index is included\n2. element at the stop index is excluded\n3. step-size is an optional argument, which is a positive 1 by default'

In [11]:
l[2][:6] #if start index is not specified its zero by default

'Nairob'

In [12]:
l[2][1:6:]

'airob'

In [13]:
l[0:6:-1]

[]

In [14]:
l[2][1:6:-1]

''

### -1 in the above examples denotes negative direction, which means we are moving backwards through the list. When the step size is negative, the start index should be greater than the end index for the slicing to be valid. The below example is a proper way to produce a reversed slice.

In [15]:
l[6:0:-1]

[('A tuple too', 28.0, 25), ['A', 'Nested', 'list'], (22+6j), 'Nairobi', 2.08]

In [16]:
l[2][6:1:-1]

'ibori'

In [17]:
'''When both the start and the end indices are omitted, Python assumes you want to select the entire list'''

l[::1]

[1,
 2.08,
 'Nairobi',
 (22+6j),
 ['A', 'Nested', 'list'],
 ('A tuple too', 28.0, 25)]

In [18]:
l[::-1]

[('A tuple too', 28.0, 25),
 ['A', 'Nested', 'list'],
 (22+6j),
 'Nairobi',
 2.08,
 1]

In [19]:
l[0:6:1]

[1,
 2.08,
 'Nairobi',
 (22+6j),
 ['A', 'Nested', 'list'],
 ('A tuple too', 28.0, 25)]

In [20]:
l[-3::-1]

[(22+6j), 'Nairobi', 2.08, 1]

In [21]:
l[-3::1]

[(22+6j), ['A', 'Nested', 'list'], ('A tuple too', 28.0, 25)]

In [22]:
l[::3]

[1, (22+6j)]

In [23]:
l[1:1:1]

[]

In [24]:
l[-1:-2:]

[]

In [18]:
l[-1:-2:-1]

[('A tuple too', 28.0, 25)]

## <span style = "text-decoration : underline ;" >Operations on Lists</span>

In [26]:
s = 'Tom Riddle'
list(s)  #type conversion

['T', 'o', 'm', ' ', 'R', 'i', 'd', 'd', 'l', 'e']

In [27]:
s + l

TypeError: can only concatenate str (not "list") to str

In [29]:
list(s) + l # list(s) converts the string 's' into a list of individual characters

['T',
 'o',
 'm',
 ' ',
 'R',
 'i',
 'd',
 'd',
 'l',
 'e',
 1,
 2.08,
 'Nairobi',
 (22+6j),
 ['A', 'Nested', 'list'],
 ('A tuple too', 28.0, 25)]

In [31]:
l_num = [1, 2, 4]

In [32]:
l_float = [2.0, 4.46]

In [33]:
l_str = ['I', '4', '3']

In [34]:
l_mix = l_num + l_float + l_str #list concatenation
l_mix

[1, 2, 4, 2.0, 4.46, 'I', '4', '3']

In [35]:
l_mix * 2 # list replication - creating a new list by duplicating elements of an existing list

[1, 2, 4, 2.0, 4.46, 'I', '4', '3', 1, 2, 4, 2.0, 4.46, 'I', '4', '3']

In [36]:
l_mix - 1

TypeError: unsupported operand type(s) for -: 'list' and 'int'

## <span style = "text-decoration : underline ;" >List Methods</span>

In [52]:
l1 = [1, 3.5, 'Python']

In [53]:
# len(sequence) returns the number of elements in the argument sequence

len(l1)

3

In [54]:
# list_name.append(element) is used to add an element at the end of the list

l1.append('Data Scientist') # appends at the end of the list
print(l1)

[1, 3.5, 'Python', 'Data Scientist']

In [55]:
l1.append([1, 0, True])
print(l1)

[1, 3.5, 'Python', 'Data Scientist', [1, 0, True]]

In [56]:
l1[-1]

[1, 0, True]

In [57]:
l1[-1][-1]

True

In [58]:
# list_name.extend(iterable) is used to add multiple elements (in the form of any iterable object like a list, tuple, set.,) to the end of an existing list

l1.extend('Moana')
print(l1)

[1, 3.5, 'Python', 'Data Scientist', [1, 0, True], 'M', 'o', 'a', 'n', 'a']

In [59]:
l1.extend((1, 3, 5))
print(l1)

[1, 3.5, 'Python', 'Data Scientist', [1, 0, True], 'M', 'o', 'a', 'n', 'a', 1, 3, 5]

In [63]:
l2 = [1, 3, 5]

In [64]:
# 'list_name.insert(index, element)'' is used to insert an element at a specified position in a list

l2.insert(1, 'Karthik')
print(l2)

[1, 'Karthik', 3, 5]

In [65]:
l2.insert(-1, 'Gonna be inserted at -1th index')
print(l2)

[1, 'Karthik', 3, 'Gonna be inserted at -1th index', 5]

In [67]:
l2.insert(21, 'OMG')
print(l2)

[1, 'Karthik', 3, 'Gonna be inserted at -1th index', 5, 'OMG']

### If the specified index is greater than or equal to the length of the list, the element will be appended to the end of the list

In [76]:
l3 = [2, 4, 1, True, 3, 6]

In [77]:
# 'list_name.pop(index)' is used to remove and return the element at a specified index from a list

l3.pop() # by default pops element at -1th index
print(l3)

[2, 4, 1, True, 3]

In [78]:
l3.pop(0) #takes index as parameter

2

In [79]:
# 'list_name.remove(element)' is used to remove the first occurrence of a specified element in a ist

l3.remove(1)  # takes value as argument
print(l3)

[4, True, 3]

In [80]:
l4 = [0, False, 78, 90.9, 0.99]

In [81]:
l4.remove(False)
print(l4)

[False, 78, 90.9, 0.99]

In [82]:
l4[0] = 1 # Mutable
print(l4)

[1, 78, 90.9, 0.99]

In [84]:
l5 = [67, 908, -34, 1, 1.8, 9.00, -56.8]

In [85]:
"""
'list_name.sort(key = None, reverse = False)' is used to sort the elements of a list in ascending order. It modified the original list.
key - This is a function that takes an element as input, and returns a value to use for sorting, if not provided, elements are compared directlt.
reverse - if 'True', the list will be sorted in descending order."""

l5.sort()
print(l5)

[-56.8, -34, 1, 1.8, 9.0, 67, 908]

In [86]:
l5.sort(reverse = True)
print(l5)

[908, 67, 9.0, 1.8, 1, -34, -56.8]

In [88]:
l6 = [3, 1, -34, 40.89, -3, 99]

In [89]:
# 'sorted(iterable, key = None, reverse = False)' takes an iterable as input and returns a new sorted list. It DOES NOT modify the original list.

sorted(l6)

[-34, -3, 1, 3, 40.89, 99]

In [90]:
reversed_l6 = sorted(l6, reverse = True)
print(reversed_l6)

[99, 40.89, 3, 1, -3, -34]

### 'sorted()' returns a new sorted list, leaving the original list unchanged. 'sort()' sorts the list in place, modifying the original list.

## <span style = "text-decoration : underline ;" >Membership Operators</span>

### 1. 'in' operator returns 'True' if a value is found in the given sequence, else returns 'False'

In [91]:
fruits = ['apple', 'orange', 'mango']
print('mango' in fruits)

True

In [92]:
print('papaya' in fruits)

False

### 2. 'not in' operator returns 'True' if a value is not found in the given sequence, else returns 'False'

In [93]:
print('mango' not in fruits)

False

In [94]:
print('papaya' not in fruits)

True

## <span style = "text-decoration : underline ;" >List Comprehension</span>

### List Comprehension is a concise and powerful way to create lists in Python. It is a single line of code that we write inside the square brackets.

In [95]:
# mylist = [output/expression for item in iterable if condition == True]

### 'expression' is the operation or computation to be performed on each item.
### 'item' represents each element in the iterable
### 'if condition' is an optional filter. The item is included in the new list only if it satisfies the condition.

In [97]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [98]:
even_squares = [x**2 for x in range(1, 6) if x % 2 == 0]
print(squares)

[1, 4, 9, 16, 25]