In [9]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

df = pd.DataFrame(
    {
        'color' : ['red', 'blue', 'green', 'green', 'red', 'blue']
    }
)

df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [7]:
# create an instance of label encoder
encoder = LabelEncoder()
encoder.fit_transform(df['color'])

array([2, 0, 1, 1, 2, 0])

In [17]:
# Ordinal Encoding

df1 = pd.DataFrame(
    {
        'rate' : ['poor', 'fair', 'good', 'fair', 'poor', 'good']
    }
)

encoder = OrdinalEncoder(categories=[['poor', 'fair', 'good']])
encoder.fit_transform(df1[['rate']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])