### Min-Max Scaling
Min-Max scaling is a normalization technique that transforms features in a dataset so that they fall within a specific range, typically [0, 1]. The transformation is applied using the formula: ùë•_scaled = (ùë• ‚àí ùë•_min) / (ùë•_max ‚àí ùë•_min)
<br> Where:
<br> ùë• is an individual data point.
<br> ùë•_min is the minimum value of the feature.
<br> ùë•_max is the maximum value of the feature.

In [1]:
# Normalization - MIN MAX SCALE

In [4]:
import seaborn as sns

df = sns.load_dataset('taxis')
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [6]:
from sklearn.preprocessing import MinMaxScaler

min_max = MinMaxScaler() # Creates an instance of the MinMaxScaler. The scaler is now ready to be applied to your dataset to rescale the values of specific columns.
min_max.fit(df[['distance', 'fare', 'tip', 'tolls', 'total']])

MinMaxScaler()

The fit() method calculates the minimum and maximum values for each feature (column) in the specified DataFrame. It "learns" the range of values that will later be used to transform the data.

In [9]:
# Apply the transformation

min_max.transform(df[['distance', 'fare', 'tip', 'tolls', 'total']])

array([[0.04359673, 0.04026846, 0.06475904, 0.        , 0.06713923],
       [0.02152589, 0.02684564, 0.        , 0.        , 0.0461042 ],
       [0.0373297 , 0.04362416, 0.07108434, 0.        , 0.07411249],
       ...,
       [0.11280654, 0.10067114, 0.        , 0.        , 0.09220839],
       [0.03051771, 0.03355705, 0.        , 0.        , 0.03169663],
       [0.10490463, 0.09395973, 0.10120482, 0.        , 0.10869064]])

In [11]:
# OR

In [13]:
import pandas as pd
transformed_df = pd.DataFrame(min_max.fit_transform(df[['distance', 'fare', 'tip', 'tolls', 'total']]), columns = ['distance', 'fare', 'tip', 'tolls', 'total'])
transformed_df

      distance      fare       tip  tolls     total
0     0.043597  0.040268  0.064759    0.0  0.067139
1     0.021526  0.026846  0.000000    0.0  0.046104
2     0.037330  0.043624  0.071084    0.0  0.074112
3     0.209809  0.174497  0.185241    0.0  0.205452
4     0.058856  0.053691  0.033133    0.0  0.069733
...        ...       ...       ...    ...       ...
6428  0.020436  0.023490  0.031928    0.0  0.029161
6429  0.510627  0.382550  0.000000    0.0  0.331374
6430  0.112807  0.100671  0.000000    0.0  0.092208
6431  0.030518  0.033557  0.000000    0.0  0.031697
6432  0.104905  0.093960  0.101205    0.0  0.108691

[6433 rows x 5 columns]