# <span style = "text-decoration : underline ;" >Several ways to print output to the console</span>

### <span style = "text-decoration : underline ;" >The print() function</span> takes a string or variable as an argument and displays it in the console

In [2]:
""" print(object(s), sep=' ', end='\n', file = file, flush = false)
In the code below parentheses at the event tells the interpreter to execute the function
The result is an invisible newline character """

print()
print()

In [5]:
print('Hello World')

Hello World

In [6]:
print(1, 2, 3) #different objects separated using comma (,) and by default sep = ' ' in python

1 2 3

In [7]:
print(8 + 5)
print(8 - 5)

13
3

### <span style = "text-decoration : underline ;" >Using formatted strings (f-strings)</span>

In [4]:
""" F-strings or Literal String Interpolation or formatted string literals -
1. These are string literals that have an f at the beginning &
2. curly braces containing expressions that will be replaced with their values """

name = 'Neilius'
place = 'Scotland'

print(f'My name is {name}, and i live in {place}')

My name is Neilius, and i live in Scotland

### <span style = "text-decoration : underline ;" >The format() Method</span>

In [5]:
""" The format() method formats the specified value(s) and insert them inside the string's placeholder.
The Placeholder is defined using curly braces{}, & identified using named indexes or numbered indexes or even empty placeholders
"""
# string.format(value1, value2,...)

name = 'Chloe'
place = 'Hawkins'

# different ways to use the placeholders with the format() method
print('My name is {}, and i live in {}'.format(name, place))
print('My name is {0}, and i live in {1}'.format(name, place)) # In python indexing starts from 0
print('My name is {zero}, and i live in {one}'.format(zero=name, one=place))

My name is Chloe, and i live in Hawkins
My name is Chloe, and i live in Hawkins
My name is Chloe, and i live in Hawkins

### <span style = "text-decoration : underline ;" >String Concatenation Method</span>

In [9]:
name = 'Pablo'
grade = 10
school = 'SVM'

print(name + " completed his grade " + str(grade) + " in " + school)

Pablo completed his grade 10 in SVM

### <span style = "text-decoration : underline ;" >Using % operator</span>

### '%f' for floating-point numbers, '%d' for integers, '%s' for strings

In [13]:
hesaru = 'Manu'
taragathi = '1st year engineering'
vibhaga = 'B'

In [14]:
print('Hello, %s!'%hesaru)

Hello, Manu!

In [15]:
print('Hello people, i am %s, a student from %s, %s section!' %(hesaru, taragathi, vibhaga))

Hello people, i am Manu, a student from 1st year engineering, B section!