In [3]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [23]:
# names = df['Name']
names = df['Name'][0:10]
names

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [25]:
len(names)

10

In [27]:
indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#### pd.Series is a fundamental data structure in pandas, designed for handling one-dimensional labeled data. Think of it as a single column of a DataFrame or a sequence of data with an index

## What pd.Series Does ?
#### Creates a Series Object: pd.Series is used to create a Series object, which is a one-dimensional array-like structure capable of holding any data type (integer, float, string, etc.). Each element in the Series is associated with a label, known as an index.
#### Supports Indexing: Unlike standard Python lists or arrays, a Series has an index that allows for more intuitive data access and manipulation. You can access elements by their index labels instead of just their position.
#### Handles Missing Data: pd.Series can handle missing data (represented as NaN), which is useful for data analysis and manipulation.
#### Alignment: Series objects align data based on their index labels, which can be very helpful when performing operations between different Series or when reindexing

In [29]:
pd.Series(names, index=indices)

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: Name, dtype: object

#### 'names' is a pandas.Series with its own default index (0 to 9), and you are trying to set a new index (indices). When the indices don't match the existing index, pandas will try to align them and fill unmatched indices with NaN.

## In the example above:

#### 'names' has an index of [0, 1, 2, ..., 9].
#### indices is ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'].
#### Since there's no direct alignment between these indices, pandas will create a new Series with the specified indices, and because there is no match for the new index values, it fills those positions with NaN.

In [40]:
indices1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 0, 1, 2, 3, 4, 5]
pd.Series(names, index=indices1)

a                                                  NaN
b                                                  NaN
c                                                  NaN
d                                                  NaN
e                                                  NaN
f                                                  NaN
g                                                  NaN
h                                                  NaN
i                                                  NaN
j                                                  NaN
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
Name: Name, dtype: object

In [46]:
# solution

In [66]:
names1 = pd.Series(list(names), index=indices)
names1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [46]:
names

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [48]:
names[0]

'Braund, Mr. Owen Harris'

In [50]:
names1[0]

C:\Users\karth\AppData\Local\Temp\ipykernel_9836\4016447020.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  names1[0]

'Braund, Mr. Owen Harris'

In [54]:
names1['a']

'Braund, Mr. Owen Harris'

In [50]:
names2 = pd.concat([names1, names])
names2

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [52]:
sample1 = pd.Series(['man', 'owl', 'bird', 'frog', 'prince'], index=[2, 4, 5, 6, 1])
sample2 = pd.Series(['manhunter', 'owlcrusher', 'birdslayer', 'frogcroaker', 'princess'], index=[9, 4, 5, 6, 7])

sample = pd.concat([sample1, sample2])
sample

2            man
4            owl
5           bird
6           frog
1         prince
9      manhunter
4     owlcrusher
5     birdslayer
6    frogcroaker
7       princess
dtype: object

In [54]:
sample[4]

4           owl
4    owlcrusher
dtype: object

In [56]:
sample[0]
# default indices are not considered when you input named indices

KeyError: 0

In [58]:
sample[0:6]

2          man
4          owl
5         bird
6         frog
1       prince
9    manhunter
dtype: object

In [64]:
sample3 = pd.Series([33, 44, 345, 66, 77], index=[2, 4, 5, 6, 1])
sample4 = pd.Series([3, 4, 35, 6, 7], index=[6, 2, 4, 5, 9])

sample3 * sample4
# multiplication based on named indices

1       NaN
2     132.0
4    1540.0
5    2070.0
6     198.0
9       NaN
dtype: float64